

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.intro-message {
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
#active {
    background: red;
    transition: .4s;
    color: black;
}
footer {
    padding: 50px 0;
    background-color: #e3e3e3;
}